.THIS .align-left{
    padding-left: 165px!important;   
 }
 .THIS .imageview{
     width:160px !important;
     height:44px !important;
    
       
 }
 .THIS .imageviewMain{
    width:193px !important;
     height:44px !important;
       
 }
 .THIS .imagePadding{
         padding-top: 8px !important;
     padding-bottom: 8px !important;
 }